# Dependencies
node_modules/

# Environment and sensitive secrets
.env
.env.*
*.env

# Production and test outputs
dist/
coverage/

# Logs & debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and Editor junk files
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp

